.forms {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--cor-cartao);
    box-shadow: 0 4px 12px var(--sombra);
    border-radius: 20px;
    color: var(--cor-texto);
    font-family: 'Segoe UI', sans-serif;
}


.forms .logo img {
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 300px;
}

.forms p {
    font-size: 1.1rem;
    text-align: center;
}

.forms h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--cor-primaria);
    font-weight: 700;
}

.forms label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--cor-texto);
}


.forms input[type="email"],
.forms input[type="password"],
.forms input[type="text"] {

    width: 100%;
    padding: 0.7rem 1rem;
    margin-bottom: 1.5rem;
    border: 1.5px solid var(--cor-primaria);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: border-color 0.3s;
}




.forms .botao {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forms .botao:hover {
    background-color: #005bb5;
}

.forms .senha,
.forms .cadastro {
    display: inline-block;
    margin-top: 0.8rem;
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 600;
    transition: color 0.3s;
}

.forms .senha:hover,
.forms .cadastro:hover {
    color: #005bb5;
}

.forms p:last-of-type {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.95rem;
    color: var(--cor-texto);
}


body.modo-escuro .forms {
    background-color: var(--cor-cartao);
    box-shadow: 0 4px 12px var(--sombra);
    color: var(--cor-texto);
}



body.modo-escuro .forms .botao {
    background-color: var(--cor-primaria);
}

body.modo-escuro .forms .botao:hover {
    background-color: #005bb5;
}

body.modo-escuro .forms .senha,
body.modo-escuro .forms .cadastro {
    color: var(--cor-primaria);
}